* {
	box-sizing: border-box;
	outline: none;
}

html,
body {
	height: 100vh;
	background-color: #ff9671;
}

button {
	cursor: pointer;
}

.twitch-emoji {
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
